body {
    background-color: black;
}


table, th, td {
    border: 1px solid darkslategray;
}
table {
    border-collapse: collapse;
    width: 50%;
}

th {
    background-color: darkolivegreen;
    color: white;
}
td {
    background-color: rgb(126, 235, 153);
}
